{% extends "testformuleBundle::layout.html.twig" %}

{% block content %}
<h3>Top des acteurs les plus jeunes</h3>
<div class="aside">
 {# render "testformuleBundle:Produit:firstCategorie" #}
 {% render "testformuleBundle:Produit:index" %}
</div>
<div class="article">
 
</div>
fff
{% endblock %}